@layer utilities {
  .text_pink\.700 {
    color: var(--colors-pink-700)
    }

  .text_green\.700 {
    color: var(--colors-green-700)
    }

  .text_blue\.700 {
    color: var(--colors-blue-700)
    }
}